* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: #2b2b2b;
    color: #e5e5e5;
    display: flex;
    flex-direction: column;
}

.todo-container {
    flex: 1;
    display: flex;
    gap: 15px;
    padding: 20px;
    overflow-y: auto;
}

.task-section {
    flex: 1;
    background: #1f1f1f;
    border-radius: 10px;
    padding: 15px;
}

.task-section h1 {
    margin-bottom: 10px;
    color: #bdbdbd;
    display: flex;
    justify-content: center;
    font-size: 60px;
}

ul {
    list-style: none;
    font-size: 30px;
}

li {
    background: #333;
    padding: 8px 10px;
    border-radius: 6px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background: none;
    border: none;
    color: #ff5c5c;
    cursor: pointer;
    font-size: 40px;
}

.input-bar {
    display: flex;
    padding: 10px;
    background: #1f1f1f;
    border-top: 1px solid #3a3a3a;
}

#taskInput {
    font-size: 40px;
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #333;
    color: white;
}

#addTask {
    margin-left: 10px;
    padding: 12px 22px;
    border-radius: 8px;
    border: none;
    background: #444;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

#addTask:hover {
    background: #555;
}
